{
  "root": true,
  "reportUnusedDisableDirectives": true,
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "react/prop-types": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "arrowParens": "avoid"
      }
    ],
    "@typescript-eslint/explicit-function-return-type": 0,
  },
  "parser": "@typescript-eslint/parser"
}
