{
  "root": true,
  "reportUnusedDisableDirectives": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["@typescript-eslint", "react-hooks"],
  "rules": {
    "no-restricted-imports": [
      1,
      {
        "paths": [
          {
            "name": "react",
            "importNames": ["default"],
            "message": "Use named imports instead."
          },
          {
            "name": "react-dom",
            "importNames": ["default"],
            "message": "Use named imports instead."
          }
        ]
      }
    ],
    "@typescript-eslint/ban-types": [
      1,
      {
        "extendDefaults": true,
        "types": {
          "React.FC": true,
          "FC": true,
          "FunctionComponent": true
        }
      }
    ],
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "react-hooks/rules-of-hooks": 2,
    "react-hooks/exhaustive-deps": 1,
    "react/jsx-uses-react": 0,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0
  }
}
